.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.suc {
  font-size: 30px;
  font-weight: 800;
  color :rgb(25, 148, 25);
}
.fail {
  font-size: 30px;
  font-weight: 800;
  color:red ;
}
.draw {
  font-size:30px;
  font-weight: 800;
  color:grey ;
}
.no {
  font-size:60px ;
  color:rgb(228, 50, 127);

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}